table {
  border-collapse: collapse;
}

table, th, td {
  border: black 1px solid;
}
tr:nth-child(even) {background-color: #d9d9d9;}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/